*.slxc
slprj/
*.avi
*.asv
codegen/
vehicles/Lift+Cruise/AeroProp/SFunction/PropCoef/APCSF_10x4p7_scaled_coef.mat
vehicles/Lift+Cruise/Trim/*.mat
vehicles/Lift+Cruise/obj/linux
vehicles/Lift+Cruise/obj/LpC_Scaled_wrapper_sfunc.mexa64
